name: Playwright API & UI Tests with Allure

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: write

jobs:
  tests:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: final-project

    env:
      FOPHELP_LOGIN: ${{ secrets.FOPHELP_LOGIN }}
      FOPHELP_PASSWORD: ${{ secrets.FOPHELP_PASSWORD }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install chromium --with-deps

      - name: Run API tests
        run: npm run test:api
        continue-on-error: true

      - name: Run UI tests
        run: npm run test:ui

      - name: Upload Playwright artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-artifacts
          path: final-project/test-results/

      - name: Generate Allure single report
        if: always()
        run: npm run allure:generate

      - name: Upload Allure report (Artifact)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-single-report
          path: final-project/allure-report/

      - name: Deploy Allure to GitHub Pages
        if: github.ref == 'refs/heads/main' && always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: final-project/allure-report
          destination_dir: allure